<!-- Landing page -->
<div class="framework_container">
	
    <div class="col one">
        <section>
            <img src="img/landingpage-1.png" id="video-background">
        </section>  
        <section class="landing">
            <nav class="desktop" id="menu">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#pit">Gravel Pit</a></li>
                <li><a href=""><img src="img/gravellogo.png" alt=""></a></li>
                <li><a href="#calculator">Calculator</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

            <div class="menu-bg"></div>
<div class="menu-burger"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" alt=""></div>
<div class="mobile-logo"><img src="img/gravellogo.png" alt=""></div>
<div class="menu-items">
  <div><a href="#about">About</a></div>
  <div><a href="#services">Services</a></div>
  <div><a href="#pit">Gravel Pit</a></div>
  <div><a href="#calculator">Calculator</a></div>
  <div><a href="#projects">Projects</a></div>
  <div><a href="#contact">Contact</a></div>
</div>

            <h1>WE PROVIDE QUALITY PRODUCTS & SERVICE FOR A REASONABLE PRICE</h1>
            <h6>since 1984</h6>
            <button><a href="#projects">View our Work</a></button><button><a href="#projects">Request a Quote</a></button>

        </section> 

    </div>
