<div class="col fourty-sixty calculator" id="calculator">
            {% for post in site.categories.calculator %}
            <section>
                <img src="img/{{ post.img }}" alt="">
            </section>
            
            <section>
                <h2>Gravel Calculator</h2>
                {{ post.content }}
                <h4 class="calcTitle">Area Size:</h4>
                <form>

                    <input type="text" id="lengthFeet" placeholder="length (in feet)"></input>
                    <input type="text" id="widthFeet" placeholder="width (in feet)"></input>
                    <input type="text" id="depthInches" placeholder="depth (in inches)"></input>


                    <input type="button" value="Calculate" class="submit" onClick="calculateGravel()">

                </form>
                <h3 class="coverageh3">Estimated Tons Required: <div id="coverage"></div></h3>
            </section>
            {% endfor %}
        </div>
