<div class="col two-even footer">
            <section>
                <h6>© Stremler Gravel 2015 | All Rights Reserved</h6>
            </section>
            <section>
                <h6>Website by <a href="http://helloimsara.com"> Sara Weinand</a></h6>
            </section>
        </div>

    
    </div><!--body_container-->



</div><!--framework_container-->

	<!--scripts-->
	<script type='text/javascript' src='js/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript' src='js/gravelCalculator.js'></script>
    <script type='text/javascript' src='js/gallery.js'></script>
	<script type='text/javascript' src='js/scripts.js'></script>

</body>
</html>
