<div class="col four-even gallery" id="pit">
            <div class="title">
                <h2>The Gravel Pit</h2>
            </div>
            <section class="gallery-rock a ">
                 {% for post in site.categories.gravel1 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel2 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel3 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel4 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel5 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel6 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel7 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            <section class="gallery-rock a ">
                {% for post in site.categories.gravel8 %}
                        <div class="image_container">
                                  <img src="img/{{ post.img[0] }}" alt="">
                        </div>
                        <h4 class="rocktitle">{{ post.title }}</h4>
                 {% endfor %}
            </section>
            
        </div>
        <section class="graveldelivery"><h4>Delivery only - Materials not available for pick-up. Small quantities of gravel can be picked up at Westside Building Supply.</h4>
            <h4>To order gravel, please use the calculator below and contact Mike. <span>mike@stremlergravel.net</span></h4></section>
