<!DOCTYPE HTML>
<!--
	Stremler Layout
	helloimsara.com
	Layout was created for Stremlergravel.net
-->
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > 
    <title>Stremler Gravel Inc. : Gravel and Concrete in Lynden, Washington</title> 
    <!--Viewport Meta Tag--><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stremler Gravel is a family-owned business serving Lynden, Washington in Whatcom County. We are a major gravel supplier within Whatcom County also providing excavating, utility work (sewer, storm water, water systems, and fire lines), and site development.">
    <meta name="keywords" content="construction, road work, gravel, waterline installation, site development">
    <meta name="author" content="Hege Refsnes">
    <!--Fonts--> <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    
    <!--Stylesheets-->
    <link rel='stylesheet' href='css/normalize.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/slice.css' type='text/css' media='all'> 
    <link rel='stylesheet' href='css/styles.css' type='text/css' media='all'> 
 
</head>
<body>
