<div class="col four-even gallery" id="projects">
            <div class="title">
                <h2>Project Gallery</h2>
            </div>
            
            <section class="gallery-rock">
            {% for post in site.categories.project1 %}
            <div class="imagecontainer">
                 <a class="cd-btn-1" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %} 
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project2 %}
            <div class="imagecontainer">
                 <a class="cd-btn-2" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project3 %}
            <div class="imagecontainer">
                 <a class="cd-btn-3" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project4 %}
            <div class="imagecontainer">
                 <a class="cd-btn-4" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project5 %}
            <div class="imagecontainer">
                 <a class="cd-btn-5" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project6 %}
            <div class="imagecontainer">
                 <a class="cd-btn-6" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project7 %}
            <div class="imagecontainer">
                 <a class="cd-btn-7" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project8 %}
            <div class="imagecontainer">
                  <a class="cd-btn-8" href="#0">
                  <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
             <section class="gallery-rock">
            {% for post in site.categories.project9 %}
            <div class="imagecontainer">
                 <a class="cd-btn-9" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project10 %}
            <div class="imagecontainer">
                 <a class="cd-btn-10" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project11 %}
            <div class="imagecontainer">
                 <a class="cd-btn-11" href="#0">
                 <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>
            
            <section class="gallery-rock">
            {% for post in site.categories.project12 %}
            <div class="imagecontainer">
                  <a class="cd-btn-12" href="#0">
                  <img src="img/{{ post.img[0] }}" alt=""></a>
            </div>
            <!--<h4>{{ post.title }}</h4>-->
            {% endfor %}
            </section>





<!--slide content-->
<!--<div class="cd-panel-1 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project1 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-1 -->


<!--<div class="cd-panel-2 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project2 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-2 -->


<!--<div class="cd-panel-3 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project3 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-3 -->


<!--<div class="cd-panel-4 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project4 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-4 -->


<!--<div class="cd-panel-5 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project5 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-5 -->


<!--<div class="cd-panel-6 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project6 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-6 -->


<!--<div class="cd-panel-7 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project7 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-7 -->


<!--<div class="cd-panel-8 from-right">
<header class="cd-panel-header"><a class="cd-panel-close" href="#0">X</a></header>
<div class="cd-panel-container"><div class="cd-panel-content">
            {% for post in site.categories.project8 %}
            <h1>{{ post.title }}</h1>
            <img src="img/{{ post.img[1] }}" alt=""></a>
            <img src="img/{{ post.img[2] }}" alt=""></a>
            <img src="img/{{ post.img[3] }}" alt=""></a>
            <img src="img/{{ post.img[4] }}" alt=""></a>
            {% endfor %}
</div><!-- cd-panel-content -->
</div><!-- cd-panel-container -->
</div><!-- cd-panel-8 -->

</div>
