<div class="body_container">

        <div class="col three-even services" id="services">
            <div class="title">
                <h2>Services We Offer</h2>
            </div>
            <section>
                {% for post in site.categories.waterline %}
                 	<img src="img/{{ post.img }}" alt="">
    			{{ post.content }}
		{% endfor %}
            </section>
            <section>
                {% for post in site.categories.sitedev %}
                	<img src="img/{{ post.img }}" alt="">
    			{{ post.content }}
		{% endfor %}
            </section>
            <section>
                {% for post in site.categories.road %}
                	<img src="img/{{ post.img }}" alt="">
    			{{ post.content }}
		{% endfor %}
            </section>

        </div>
