<div class="body_container">

        <div class="col three-even services" id="services">
            <div class="title">
                <h2>Services We Offer</h2>
            </div>
            <section>
                <img src="img/resident.jpg" alt="">
                <h3>Site Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quia dolores cumque animi nihil, amet provident. Tempore aut modi perspiciatis officia, porro corporis, cum odio eius iste. Aliquam, minus repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, nostrum, ratione!</p>
            </section>
            <section>
                <img src="img/sitedev.jpg" alt="">
                <h3>Road Construction</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus neque commodi corrupti porro incidunt sapiente omnis provident eos. Accusantium temporibus voluptatum obcaecati perspiciatis.</p>
            </section>
            <section>
                <img src="img/roadconstruction.jpg" alt="">
                <h3>Waterline Installation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus neque commodi corrupti porro incidunt sapiente omnis provident eos. Accusantium temporibus voluptatum obcaecati perspiciatis doloremque eligendi quod, ullam maxime similique inventore.</p>
            </section>

        </div>